<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Order Details</h1>
    <p>Name: <%= orderdetail.Name %></p>
    <p>Contact Number: <%= orderdetail.Contact_Number %></p>
    <p>Email: <%= orderdetail.Email %></p>
    <p>Preferred Time Slot: <%= orderdetail.Preferred_Time_Slot %></p>
    <p>Service: <%= orderdetail.Select_Service %></p>
    <p>Number of Copies: <%= orderdetail.Number_of_Copies %></p>
    <p>Paper Size: <%= orderdetail.Paper_Size %></p>
    
    <!-- Link to view the uploaded PDF file -->
    <!-- <a href="/file/<%= pdfFileId %>">View Uploaded PDF</a> -->
    

</body>
</html>